body{
    overflow: hidden;
}

.page,.page2,.page3{
    width: 210mm;
    height: 297mm;
    margin: 70px auto 0;
    page-break-before: always;
}

.pageInner, .pageInner2{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}

.leftRightWrap, .leftRightWrap2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /*border: 1px solid silver;*/
    height: 980px;
    position: relative;
    left: 10px;
}

.page .leftRightWrap:not(:first-of-type)
.page2 .leftRightWrap:not(:first-of-type)
.page3 .leftRightWrap:not(:first-of-type){
    position: relative;
    top: 40px;
}

.left, .left2, .left3
,.right, .right2, .right3{
    height: 100%;
}

.item, .item2, .item3{
    /*width: 340px;*/
    margin: 10px 0 ;
}

img{
    width: 310px;
}

.header, .header2{
    width: 100%;
    height: 65px;
    margin: 15px 0;
    border: 2px solid silver;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.header>:first-child
,.header2>:first-child{
    width: 80%;
    border-right: 2px solid silver;
    height: 65px;
    display: flex;
    align-items: center;
}

.header>:first-child>p
, .header2>:first-child>p{
    margin: 0 auto;
    font-size: 24px;
}

.header>:last-child
,.header2>:last-child{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header>:last-child>:first-child
,.header2>:last-child>:first-child{
    word-spacing: 15px;
    border-bottom: 2px solid silver;
    text-align: center;
    height: 50%;
    vertical-align: center;
}

.header>:last-child>:last-child
,.header2>:last-child>:last-child{
    margin-left: 7px;
    height: 50%;
}

.header>:last-child p{
    position: relative;
    top: -8px;
    font-size: 14px;
}

#loading{
    width: 100%;
    height: 100vh;
    /*position: fixed;*/
    z-index: 9999;
    border: none;
}