<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/admin/admin_user.css}">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <script th:src="@{/js/admin/user_detail.js}"></script>
    <title>Admin</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img class="header_img" src="/images/admin/adminlogo-removebg-preview.png">
            <a th:href="@{/admin/user}" class="header_title"></a>
        </div>

        <span class="logo_name">문제은행</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a th:href="@{/admin/user}">
                    <i class="uil uil-user"></i>
                    <span class="link-name">회원관리</span>
                </a></li>
            <li><a th:href="@{/admin/paper}" class="side_bar_menu">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">시험지관리</span>
            </a></li>
            <li><a th:href="@{/admin/error}" class="side_bar_menu">
                <i class="uil uil-file-question-alt"></i>
                <span class="link-name">문제오류관리</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li>
                <a th:href="@{/index}">
                    <i class="uil uil-home"></i>
                    <span class="link-name">Main Page</span>
                </a>

            </li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <form th:method="get" th:action="@{/admin/user}" th:id="user_form">
                <select th:name="search" th:id="search_user">
                    <option th:value="email">이메일</option>
                    <option th:value="name">이름</option>
                </select>
                <input type="text" th:name="search_txt" th:id="search_txt_user" placeholder="Search here...">
                <button type="submit" id="search_user_btn">
                    <i class="uil uil-search"></i></button>
            </form>
        </div>
        <div></div>
    </div>

<!--        <img src="images/profile.jpg" alt="">-->
    <div class="dash-content">
        <div class="activity">
            <div class="title">
                <i class="uil uil-user"></i>
                <span class="text">회원정보</span>
            </div>
            <div id="user">
                <ul>
                    <li class="user_list_top">
                        <span>회원번호</span>
                        <span>이메일</span>
                        <span>이름</span>
                        <span>회원유형</span>
                        <span>학교정보</span>
                    </li>
                    <li th:if="${!userList.isEmpty()}" th:each="item:${userList}" th:class="userList">
                        <a th:href="@{'/admin/userdetail/'+${item.uid}}">
                        <span th:text="${item.uid}"></span>
                        <span th:text="${item.email}"></span>
                        <span th:text="${item.name}"></span>
                        <span th:text="${item.role}"></span>
                        <span th:text="${item.schoolType}"></span>
                        </a>
                    </li>
                    <li th:if="${userList.isEmpty()}">
                        회원이 존재하지 않습니다.
                    </li>
                </ul>
            </div>
            <div id="page">
                <th:block th:if="${startPage>1}">
                    <a th:href="@{/admin/user(page=${startPage}-1, search=${search}, search_txt=${search_txt})}">
                        <span class="arrow left"> 이전</span>
                    </a>
                </th:block>

                <th:block th:if="${userList.totalPages>1}" th:each="index:${#numbers.sequence(startPage, endPage)}"
                          th:class="page">
                    <span th:if="${index==userList.pageable.getPageNumber()+1}" th:text="${index}"></span>
                    <span th:if="${index!=userList.pageable.getPageNumber()+1}">
				<a th:href="@{/admin/user(page=${index}, search=${search}, search_txt=${search_txt})}"
                   th:text="${index}" class="page_num"></a>
			</span>
                </th:block>

                <th:block th:if="${endPage<userList.getTotalPages()}">
                    <a th:href="@{/admin/user(page=${endPage+1}, search=${search}, search_txt=${search_txt})}">
                        <span class="arrow right">다음</span>
                    </a>
                </th:block>

            </div>


        </div>
    </div>
</section>

<script th:src="@{/js/admin/admin_user.js}"></script>
</body>
</html>