<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/admin/admin_user.css}">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Bootstrap JS와 Popper.js 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/admin/user_detail.js}"></script>
    <title>Admin</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img class="header_img" src="/images/admin/adminlogo-removebg-preview.png">
            <a th:href="@{/admin/user}" class="header_title"></a>
        </div>

        <span class="logo_name">문제은행</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a th:href="@{/admin/user}">
                    <i class="uil uil-user"></i>
                <span class="link-name">회원관리</span>
            </a></li>
            <li><a th:href="@{/admin/paper}" class="side_bar_menu">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">시험지관리</span>
            </a></li>
            <li><a th:href="@{/admin/error}" class="side_bar_menu">
                <i class="uil uil-file-question-alt"></i>
                <span class="link-name">문제오류관리</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li>
                <a th:href="@{/main}">
                    <i class="uil uil-home"></i>
                <span class="link-name">Main Page</span>
            </a>

            </li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <form th:method="get" th:action="@{/admin/user}" th:id="user_form">
                <select th:name="search" th:id="search_user">
                    <option th:value="email">이메일</option>
                    <option th:value="name">이름</option>
                </select>
                <input type="text" th:name="search_txt" th:id="search_txt_user" placeholder="Search here...">
                <button type="submit" id="search_user_btn">
                    <i class="uil uil-search"></i></button>
            </form>
<!--            <input type="text" placeholder="Search here...">-->
        </div>

        <!--<img src="images/profile.jpg" alt="">-->
    </div>

    <div class="dash-content">
        <div class="activity">
            <div class="title">
                <i class="uil uil-user"></i>
                <span class="text">회원정보</span>
            </div>
            <div id="user">
                <ul>
                    <li class="user_list_top">
                        <span>회원번호</span>
                        <span>이메일</span>
                        <span>이름</span>
                        <span>회원유형</span>
                        <span>학교정보</span>
                        <span>Controller</span>
                    </li>
                    <li th:if="${!userList.isEmpty()}" th:each="item:${userList}" th:class="userList">
                        <span th:text="${item.uid}"></span>
                        <span th:text="${item.email}"></span>
                        <span th:text="${item.name}"></span>
                        <span th:text="${item.role}"></span>
                        <span th:text="${item.schoolType}"></span>
                        <span>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#memberModal"
                                  th:onclick="'loadMemberDetails(' + ${item.uid} + ')'">
                        <img src="/images/admin/icons8-popup-64.png" alt="아이콘" style="width: 20px; height: 20px;">
                    </button>
                        <div class="btn btn-primary btn-primary2">
                        <a id="del" th:href="@{|/userdelete/${item.uid}|}">
                            <img src="/images/admin/icons8-탈퇴-48.png" style="width: 20px; height: 20px;" alt="탈퇴아이콘"></a>
                    </div>
                    </span>
                    </li>
                    <li th:if="${userList.isEmpty()}">
                        회원이 존재하지 않습니다.
                    </li>
                </ul>
            </div>
            <div id="page">
                <th:block th:if="${startPage>1}">
                    <a th:href="@{/admin/user(page=${startPage}-1, search=${search}, search_txt=${search_txt})}">
                        <span class="arrow left"> 이전</span>
                    </a>
                </th:block>

                <th:block th:if="${userList.totalPages>1}" th:each="index:${#numbers.sequence(startPage, endPage)}"
                          th:class="page">
                    <span th:if="${index==userList.pageable.getPageNumber()+1}" th:text="${index}"></span>
                    <span th:if="${index!=userList.pageable.getPageNumber()+1}">
				<a th:href="@{/admin/user(page=${index}, search=${search}, search_txt=${search_txt})}"
                   th:text="${index}" class="page_num"></a>
			</span>
                </th:block>

                <th:block th:if="${endPage<userList.getTotalPages()}">
                    <a th:href="@{/admin/user(page=${endPage+1}, search=${search}, search_txt=${search_txt})}">
                        <span class="arrow right">다음</span>
                    </a>
                </th:block>

            </div>


        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">회원 상세정보</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="memberDetails">회원 정보를 불러오는 중...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/js/admin/admin_user.js}"></script>
</body>
</html>