<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/admin/admin_user.css}">
    <link rel="stylesheet" th:href="@{/css/admin/error_detail.css}">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script th:src="@{/js/admin/error_status.js}"></script>
    <script th:src="@{/js/admin/error_down.js}"></script>
    <title>Admin</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img class="header_img" src="/images/admin/adminlogo-removebg-preview.png">
            <a th:href="@{/admin/user}" class="header_title"></a>
        </div>

        <span class="logo_name">문제은행</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a th:href="@{/admin/user}">
                    <i class="uil uil-user"></i>
                    <span class="link-name">회원관리</span>
                </a></li>
            <li><a th:href="@{/admin/paper}" class="side_bar_menu">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">시험지관리</span>
            </a></li>
            <li><a th:href="@{/admin/error}" class="side_bar_menu">
                <i class="uil uil-file-question-alt"></i>
                <span class="link-name">문제오류관리</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li>
                <a th:href="@{/main}">
                    <i class="uil uil-home"></i>
                    <span class="link-name">Main Page</span>
                </a>

            </li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
    </div>

    <div class="dash-content">
        <div class="activity">
            <div class="title">
                <i class="uil uil-files-landscapes"></i>
                <span class="text">문제오류상세페이지</span>

            </div>
            <div id="error_detail">
                <ul id="detail_ul">
                    <li class="list">
                        <span>errorId</span>
                        <span th:text="${questionErrorDTO.errorId}"></span>
                    </li>
                    <li class="list">
                        <span>문제오류타입</span>
                        <span th:text="${questionErrorDTO.errorType}"></span>
                    </li>
                    <li class="list">
                        <span>문제번호</span>
                        <span th:text="${questionErrorDTO.itemId}"></span>
                    </li>
                    <li class="list">
                        <span>오류신고이유</span>
                        <span th:text="${questionErrorDTO.content}"></span>
                    </li>
                    <li class="list">
                        <span>처리상태</span>
                        <span th:text="${questionErrorDTO.status}"></span>
                    </li>
                    <li class="list">
                        <span>회원번호</span>
                        <span th:text="${questionErrorDTO.uid}"></span>
                    </li>
                    <li class="list">
                        <span>첨부파일 오류 이유</span>
                        <span th:text="${questionErrorDTO.attachmentFileError}"></span>
                    </li>
                    <li>
                        <span>첨부파일이름</span>
                        <span th:text="${questionErrorDTO.attachmentFileName}"></span>
                        <button type="button" id="down" th:data-attachment-file-name="${questionErrorDTO.attachmentFilePath}">첨부파일다운</button>
                    </li>
                </ul>
                <div class="a_list">
                    <a id="a_error" th:href="@{/admin/error}">목록으로</a>
                    <button type="button" id="status" th:onclick="|errorstatus(${questionErrorDTO.errorId})|">처리하기</button>
                </div>
            </div>

        </div>

    </div>


</section>

<script th:src="@{/js/admin/admin_user.js}"></script>
</body>
</html>

