<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" th:href="@{/css/admin/template.css}">
    <link rel="stylesheet" th:href="@{/css/admin/user.css}">
    <script th:src="@{/js/admin/user_color.js}"></script>
    <script th:src="@{/js/admin/user_detail.js}"></script>
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Bootstrap JS와 Popper.js 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--<aside th:replace="side_bar :: side_template"></aside>-->
<div id="wrap">
    <div id="side_bar">
        <div id="side_bar_header">
            <img class="header_img" src="/images/admin/adminlogo-removebg-preview.png">
            <a th:href="@{/admin/user}" class="header_title">문제은행</a>
        </div>
        <div id="side_bar_menus">
            <a th:href="@{/admin/user}" class="side_bar_menu">
                <img class="side_bar_menu_image" src="/images/admin/icons8-유저관리-100.png" alt="유저 관리">
                <span class="side_bar_menu_name">회원 관리</span>
            </a>
            <a th:href="@{/admin/testpage}" class="side_bar_menu">
                <img class="side_bar_menu_image" src="/images/admin/icons8-문제관리-100.png" alt="문제 관리">
                <span class="side_bar_menu_name">문제관리</span>
            </a>
            <a th:href="@{/admin/errorpage}" class="side_bar_menu">
                <img class="side_bar_menu_image" src="/images/admin/icons8-문제오류-100.png" alt="문제 오류 관리">
                <span class="side_bar_menu_name">문제오류관리</span>
            </a>
            <a href="/main" class="go_index">
                홈페이지
            </a>
        </div>
    </div>
    <div id="content">
    <div id="admin_user">
        <h2>회원 관리</h2>
        <!-- 회원 검색창 -->
        <form th:method="get" th:action="@{/admin/user}" th:id="user_form">
            <select th:name="search" th:id="search_user">
                <option th:value="email">이메일</option>
                <option th:value="name">이름</option>
            </select>
            <input type="text" th:name="search_txt" th:id="search_txt_user">
            <button type="submit" id="search_user_btn">검색</button>
        </form>

        <div id="user_list">
            <ul>
                <li class="user_list_top">
                    <span>회원번호</span>
                    <span>이메일</span>
                    <span>이름</span>
                    <span>회원유형</span>
                    <span>학교정보</span>
                    <span>제어</span>
                </li>
                <li th:if="${!userList.isEmpty()}" th:each="item:${userList}" th:class="userList">
                    <a th:href="@{'/admin/userdetail/'+${item.uid}}">
                        <span th:text="${item.uid}"></span>
                        <span th:text="${item.email}"></span>
                        <span th:text="${item.name}"></span>
                        <span th:text="${item.role}"></span>
                        <span th:text="${item.schoolType}"></span>
                    </a>
                    <span>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#memberModal"
                                  th:onclick="'loadMemberDetails(' + ${item.uid} + ')'">
                        <img src="/images/admin/icons8-popup-64.png" alt="아이콘" style="width: 20px; height: 20px;">
                    </button>
                        <div class="btn btn-primary btn-primary2">
                        <a id="del" th:href="@{|/userdelete/${item.uid}|}">
                            <img src="/images/admin/icons8-탈퇴-48.png" style="width: 20px; height: 20px;" alt="탈퇴아이콘"></a>
                    </div>
                    </span>
                </li>
                <li th:if="${userList.isEmpty()}">
                    회원이 존재하지 않습니다.
                </li>
            </ul>
            <!-- 페이지 -->
            <div id="page">
                <th:block th:if="${startPage>1}">
                    <a th:href="@{/useradmin(page=${startPage}-1, search=${search}, search_txt=${search_txt})}">
                        <span>이전</span>
                    </a>
                </th:block>

                <th:block th:if="${userList.totalPages>1}" th:each="index:${#numbers.sequence(startPage, endPage)}"
                          th:class="page">
                    <span th:if="${index==userList.pageable.getPageNumber()+1}" th:text="${index}"></span>
                    <span th:if="${index!=userList.pageable.getPageNumber()+1}">
				<a th:href="@{/useradmin(page=${index}, search=${search}, search_txt=${search_txt})}"
                   th:text="${index}"></a>
			</span>
                </th:block>

                <th:block th:if="${endPage<userList.getTotalPages()}">
                    <a th:href="@{/useradmin(page=${endPage+1}, search=${search}, search_txt=${search_txt})}">
                        <span>다음</span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<!-- Modal -->
< <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">회원 상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="memberDetails">회원 정보를 불러오는 중...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>