HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

**/resources/static/static
**/resources/static/static/**

**/resources/application.yml

/src/main/resources/static/asset-manifest.json
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
/src/main/resources/static/logo192.png
/src/main/resources/static/logo512.png
/src/main/resources/static/manifest.json
/src/main/resources/static/robots.txt
