<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/main/index.css}">
    <link rel="stylesheet" th:href="@{/css/main/header.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header-1">로고</div>
            <nav class="header-2">
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                    <li>메뉴4</li>
                </ul>
            </nav>
            <a class="header-3" th:src="@{/login}">로그인</a>
            <th:block sec:authorize="hasAnyRole('User','Teacher','Stop','Admin')">
                <li>
                    <form th:method="post" th:action="@{/logout}">
                        <button type="submit" th:class="logout">로그아웃</button>
                    </form>
                </li>
            </th:block>

        </header>

        <div class="index-top">
            <h1>문제은행</h1>
            <p>문제 출제, 시험지 편집까지! 편리하게 시험지 제작 서비스를 제공합니다. </p>
        </div>

        <div class="container">

            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">중학</li>
                <li class="tab-link" data-tab="tab-2">시험지 보관함</li>
            </ul>

            <!-- 중학교 시험지 관련 -->
            <div id="tab-1" class="tab-content current">

                <ul class="tab">
                    <li class="tab-link current" data-subject="kor">국어</li>
                    <li class="tab-link" data-subject="eng">영어</li>
                    <li class="tab-link" data-subject="math">수학</li>
                    <li class="tab-link" data-subject="soc">사회</li>
                    <li class="tab-link" data-subject="his">역사</li>
                    <li class="tab-link" data-subject="eth">도덕</li>
                    <li class="tab-link" data-subject="sci">과학</li>
                    <li class="tab-link" data-subject="tec">기술/가정</li>
                    <li class="tab-link" data-subject="info">정보</li>
                    <li class="tab-link" data-subject="mus">음악</li>
                    <li class="tab-link" data-subject="art">미술</li>
                    <li class="tab-link" data-subject="pe">체육</li>
                    <li class="tab-link" data-subject="opt">선택</li>
                    <li class="tab-link" data-subject="chi">생활 중국어</li>
                    <li class="tab-link" data-subject="jap">생활 일본어</li>
                </ul>

                <div id="kor" class="tab-book now">
                    <h3>노미숙</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/노미숙 국어 1-1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노미숙 국어 1-2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노미숙 국어 2-1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노미숙 국어 2-2.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노미숙 국어 3-1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 3-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노미숙 국어 3-2.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 3-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>

                    <h3>박영목</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/박영목 국어 1-1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font">국어 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/박영목 국어 1-2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/박영목 국어 2-1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/박영목 국어 2-2.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/박영목 국어 3-1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 3-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/박영목 국어 3-2.jpg}" alt="사진 안 넣었음"/>
                            <p class="font">국어 3-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="eng" class="tab-book">
                    <h3>이재영</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/이재영 영어1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/이재영 영어2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/이재영 영어3.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>

                    <h3>정사열</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/정사열 영어1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font">국어 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/정사열 영어2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/정사열 영어3.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="math" class="tab-book">
                    <h3>류희찬</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/류희찬 수학 1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/류희찬 수학 2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/류희찬 수학 3.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>

                    <h3>이준열</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/이준열 수학 1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font">국어 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/이준열 수학 2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/이준열 수학 3.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 국어 2-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="soc" class="tab-book">
                    <h3>구정화</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/구정화 사회1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/구정화 사회2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                    </div>

                    <h3>박형준</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/박형준 사회1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font">국어 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/박형준 사회2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="his" class="tab-book">
                    <h3>김덕수</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/김덕수 역사1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/김덕수 역사2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="eth" class="tab-book">
                    <h3>변순용</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/변순용 도덕1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/변순용 도덕2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sci" class="tab-book">
                    <h3>노태희</h3>
                    <hr>
                    <div class="book-list">
                        <div class="book-detail">
                            <img th:src="@{/images/main/노태희 과학1.jpg}" alt="사진 안 넣었음"/>
                            <p class="font"> 1-1</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노태희 과학2.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>

                        <div class="book-detail">
                            <img th:src="@{/images/main/노태희 과학3.jpg}" alt="사진 안 넣었음">
                            <p class="font"> 국어 1-2</p>
                            <div class="book-button">
                                <a href="#" onclick="openPopup()">시험지 만들기</a>
                                <a href="#" onclick="openPopup()">평가자료 다운</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 시험지 보관함 -->
            <div id="tab-2" class="tab-content">
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
                <p>dd</p>
            </div>
        </div>

        <div class="notice-box">
            <div class="notice-1">
                이미지
            </div>
            <div class="notice-2">
                <h2> T셀파 교수자료 무단 배포 주의사항 안내 드립니다. </h2>
                <p> 소중한 T셀파의 교수자료가 무단 배포 및 유출되지 않도록 선생님들의 적극적인 협조 부탁드립니다.
                    자료 유출로 인한 어려움을 겪지 않도록 선생님들께 간곡한 부탁드립니다.
                    학교에서 연구 목적 또는 수업 시에만 활용해 주세요. </p>

                <p> T셀파의 교수자료의 저작권은 (주)천재교육에 있으며, 당사의 허락 없이 무단으로 이를 유출하거나
                    무단으로 타 사이트에 게재하는 경우 저작권법에 위배됩니다. T셀파의 교수자료의 저작권은 (주)천재교육에 있으며, 당사의 허락 없이 무단으로 이를 유출하거나
                    무단으로 타 사이트에 게재하는 경우 저작권법에 위배됩니다.
                </p>
                <button onclick="openEx()">유출 사례 보기 > </button>
            </div>
        </div>

    </div>
    <div id="modalContainer" class="block">
        <div id="modal">
            <div class="modal-top">
                <p class="modal-title">
                    교수자료 유출 사례
                </p>
                <button class="modal-x" onclick="closeEx()">X</button>
            </div>
            <div class="modal-content">
                <p> T셀파의 교수자료는 천재교육의 소중한 자산입니다. <br>
                    자료 유출로 인한 어려움을 겪지 않도록 선생님들께 부탁 드리며, 교수자료의 유출사례들을 소개드립니다.</p>
                <div class="modal-textbox">
                    <p> <span>1</span> T셀파 정회원으로 선생님들께서 지인분들(학부모, 학원강사)에게 유출하시거나 아이디/비밀번호를 공유하여 사용하시는 경우</p>
                    <p> <span>2</span> 학생들이 평가지를 학원에 가지고 가서 공유하는 경우</p>
                    <p> <span>3</span> 카페, 블로그, 학교 홈페이지 등 인터넷에 무단으로 업로드하는 경우</p>
                    <p> <span>4</span> 본인이 아닌, 다른 분들에게 아이디/비밀번호를 공유하는 경우</p>

                    <p> * 안전한 개인정보 보호를 위해 주기적으로 비밀번호를 변경하시는 것을 권장해 드립니다.</p>
                    <p> * 공공장소 (PC방, 학교 공용 컴퓨터실) 등에서 사용을 자제하여 주십시오.</p>
                </div>

                <div class="modal-bottom">
                    T셀파의 교수자료의 저작권은 (주)천재교육에 있으므로, 무단으로 이를 유출하거나 타 사이트에 게재하지 않도록 선생님들의 적극적인 협조 부탁드립니다.
                </div>
            </div>
        </div>
    </div>

    <script>

        /** step 새로운 창 이런식으로 열기 */
        function openPopup() {
            window.open('http://localhost:3000/step2', 'popupWindow', 'width=1350, height=1000, scrollbars=yes');
        }

        let modal = document.getElementById('modalContainer');
        let wrap = document.getElementById('wrap');

        /** 티셀파 유출사례 모달창 열고 닫기*/
        function openEx() {
            modal.style.display = 'block';
            wrap.style.overflow = 'hidden'; // 모달창 열렸을 때 스크롤 기능 막기
        }

        function closeEx() {
            modal.style.display = 'none';
            wrap.style.overflow = 'scroll';
        }

        /** 탭메뉴 관련 제이쿼리 */
        $(document).ready(function(){

            /** 중학 / 시험지 보관함 탭 */
            $('ul.tabs li').click(function(){
                let tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            });

            /** 과목별 탭 */
            $('ul.tab li').click(function(){
                let tab_id = $(this).attr('data-subject');

                $('ul.tab li').removeClass('now');
                $('.tab-book').removeClass('now');

                $(this).addClass('now');
                $("#" + tab_id).addClass('now');
            });

        });

    </script>
</body>
</html>