<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main/index.css}">
    <link rel="stylesheet" th:href="@{/css/main/font.css}">
    <link rel="stylesheet" th:href="@{/css/main/paper.css}">
</head>
<body>
    <div class="index-top">
        <h1>문제은행</h1>
        <p>문제 출제, 시험지 편집까지! 편리하게 시험지 제작 서비스를 제공합니다. </p>
    </div>

    <div class="container">
        <ul class="tabs">
            <li class="tab-link"><a th:href="@{/index}">중학</a></li>
            <li class="tab-link current"><a th:href="@{/paper}">시험지 보관함</a></li>
        </ul>

        <div id="tab-2" class="tab-content current">
            <div class="download-fullBox">
                <div class="download-container">
                    <div class="download-box">
                        <div class="download-left">
                            <p>제목</p>
                            <div class="left-box1">
                                <span>과목 이름</span>
                                <span>문항수</span>
                                <span>날짜</span>
                            </div>
                            <hr>
                            <div class="left-box2">
                                <span>문항 편집</span>
                                <span>시험지 삭제</span>
                            </div>
                        </div>
                        <div class="download-right">
                            <p>시험지 다운로드</p>
                            <div class="btn-box">
                                <button class="button1">전체</button>
                                <button class="button2 two">문제</button>
                                <button class="button3 three">정답 <br> + <br> 해설 </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="download-container">
                    <div class="download-box">
                        <div class="download-left">
                            <p>제목</p>
                            <div class="left-box1">
                                <span>과목 이름</span>
                                <span>문항수</span>
                                <span>날짜</span>
                            </div>
                            <hr>
                            <div class="left-box2">
                                <span>문항 편집</span>
                                <span>시험지 삭제</span>
                            </div>
                        </div>
                        <div class="download-right">
                            <p>시험지 다운로드</p>
                            <div class="btn-box">
                                <button class="button1">전체</button>
                                <button class="button2 two">문제</button>
                                <button class="button3 three">정답 + 해설 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>