@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;

}
#wrap{
    padding: 90px 0;
    font-family: 'Poppins', 'GoyangIlsan',sans-serif;
}
#login_box{
    background-color: white;
    border: 1px solid #cccccc;
    width: 40%;
    margin: 0 auto;
    padding: 30px 30px 70px;
    border-radius: 30px;
}

#login_box > h1{
    text-align: center;
    margin-bottom: 5px;
    color: #5670DC;
}

#login_form ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'GoyangIlsan';
}
.google{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 50px;
}
#login_form input:focus{
    outline: 1px solid #5670DC;
}

#login_form ul input {
    border: none;
    border-radius: 6px;
    background-color: #F8F8F8;
    width: 17vw;
    padding: 1.5vh 0.9vw;
    font-size: 1rem;
    font-family: 'GoyangIlsan';
}
#google_login{
    border: none;
    border-radius: 6px;
    background-color: #F8F8F8;
    width: 17vw;
    padding: 0.9vh 0.9vw;
    text-align: center;
    display: flex;
    justify-content: flex-start;

}
#login_form ul button[type="submit"]{
    width: 18.8vw;
    padding: 1.5vh 0.9vw;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    background-color: #5670DC;
    font-family: 'GoyangIlsan';
}
.google_btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#login_box .join_a{
    color: #5670DC;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-left: 36px;
}
