<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>T셀파 문제은행</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="../inc/css/font.css">
	<link rel="stylesheet" href="../inc/css/reset.css">
	<link rel="stylesheet" href="../inc/css/common.css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script src="../inc/js/common.js"></script>
</head>

<body>
<div th:each="item:${data}">
	<h1>asdfasdf</h1>
	<div th:text="${item}"></div>
</div>
<div id="wrap" class="full-pop-que">
	<div class="full-pop-wrap">
		<div class="pop-header">
			<!-- <ul class="title">
				<li>STEP 1 단원선택</li>
				<li>STEP 2 문항편집</li>
				<li class="active">STEP 3 시험지 저장</li>
			</ul>
			<button type="button" class="del-btn"></button> -->
		</div>
		<div class="pop-content">
			<div class="loading-cnt">
				<img src="../images/common/loading_icon.gif" alt="로딩중">
				<div class="txt-box">
					<span class="tit">LOADING<br>잠시만 기다려주세요.</span>
					<span class="txt">이 화면이 지속되면 페이지를 <em>새로고침</em> 해 주세요.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="dim"></div>
</div>
</body>


</html>