<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T셀파 문제은행</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/inc/css/font.css}">
    <link rel="stylesheet" th:href="@{/inc/css/reset.css}">
    <link rel="stylesheet" th:href="@{/inc/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/step1/step1.css}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script th:src="@{/inc/js/common.js}"></script>
</head>

<body>
<div id="wrap" class="full-pop-que">
    <div class="full-pop-wrap">
        <div class="pop-header">
            <ul class="title">
                <li class="active">STEP 1 단원선택</li>
                <li>STEP 2 문항 편집</li>
                <li>STEP 3 시험지 저장</li>
            </ul>
            <button type="button" class="del-btn"></button>
        </div>
        <div class="pop-content">
            <div class="view-box">
                <div class="view-top">
                    <div class="paper-info">
                        <span th:text="${subject}"></span>
                        <span th:text="${curriculum}" style="font-size: 16px ; color: #444444"></span>
                    </div>
                </div>
                <div class="view-bottom">
                    <div class="view-box-wrap">
                        <div class="unit-box-wrap">
                            <div class="unit-box">
                                <div class="unit-cnt scroll-inner">
                                    <div class="title-top">
                                        <span>단원정보</span>
                                        <input type="checkbox" id="chk01_00" class="allCheck">
                                        <label for="chk01_00">전체선택</label>
                                    </div>
                                    <ul>

                                        <th:block th:each="largeChapter:${chapterGroup.list}">
                                            <li class="large-li">

                                                <div class="check-group title">
                                                    <div class="title-chk">
                                                        <input type="checkbox"
                                                               class="que-allCheck depth01 large-check"
                                                               th:id="${'large'+largeChapter.id}">
                                                        <label th:for="${'large'+largeChapter.id}">
                                                            <button type="button" class="dep-btn active"
                                                                    th:text="${largeChapter.name}">
                                                            </button>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="depth02">
                                                    <th:block th:each="mediumChapter:${largeChapter.list}">
                                                        <div class="check-group medium-div">
                                                            <input type="checkbox"
                                                                   class="que-allCheck depth01 medium-check"
                                                                   th:id="${'medium'+mediumChapter.id}">
                                                            <label th:for="${'medium'+mediumChapter.id}">
                                                                <button type="button" class="dep-btn active"
                                                                        th:text="${mediumChapter.name}"></button>
                                                            </label>
                                                        </div>

                                                        <div class="depth04">
                                                            <th:block th:each="smallChapter:${mediumChapter.list}">
                                                                <div class="check-group small-div">
                                                                    <input type="checkbox"
                                                                           th:id="${'small'+smallChapter.id}"
                                                                           class="que-allCheck depth01 small-check">
                                                                    <label th:for="${'small'+smallChapter.id}">
                                                                        <button type="button" class="dep-btn active"
                                                                                th:text="${smallChapter.name + ' ('+smallChapter.itemNo} +')'">
                                                                        </button>
                                                                    </label>
                                                                </div>
                                                                <div class="depth05">
                                                                    <th:block th:each="topic:${smallChapter.list}">
                                                                        <div class="check-group">
                                                                            <input type="checkbox" class="topic-check"
                                                                                   th:id="${'topic'+topic.id}">
                                                                            <label th:for="${'topic'+topic.id}">
                                                                                    <span th:text="${topic.name + ' ('+topic.itemNo+')'}">
                                                                                    </span>
                                                                            </label>
                                                                        </div>
                                                                    </th:block>
                                                                </div>
                                                            </th:block>
                                                        </div>
                                                        <!--</div>-->
                                                    </th:block>
                                                </div>

                                            </li>
                                        </th:block>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="type-box-wrap">
                            <div class="type-box scroll-inner">
                                <div class="title-top">
                                    <span>출제옵션</span>
                                </div>
                                <div class="box">
                                    <div class="title-wrap">
                                        <span class="tit-text">문제 수<em>최대 30문제</em></span>
                                    </div>
                                    <div class="count-area">
                                        <div class="btn-wrap">
                                            <button type="button" onclick="count_change(10)" class="btn-line">10</button>
                                            <button type="button" onclick="count_change(15)" class="btn-line">15</button>
                                            <button type="button" onclick="count_change(20)" class="btn-line">20</button>
                                            <button type="button" onclick="count_change(25)" class="btn-line">25</button>
                                            <button type="button" onclick="count_change(30)" class="btn-line active">30</button>
                                        </div>
                                        <div class="input-area">
                                            <span class="num">총 <input class="count-input" type="text" value="30" onchange="count_value_change()"> 문제</span>
                                            <div class="txt">*5의 배수로 입력해주세요.</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="box">
                                    <div class="title-wrap">
                                        <span class="tit-text">출처</span>
                                        <div class="right-area">
                                        </div>
                                    </div>
                                    <div class="btn-wrap multi">
                                        <button type="button" class="btn-line">교사용(교사용 DVD, 지도서, 신규 개발 등)</button>
                                        <button type="button" class="disable-button" disabled>학생용(자습서, 평가문제집 등)</button>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="title-wrap">
                                        <span class="tit-text">평가 영역</span>
                                        <div class="right-area">
                                        </div>
                                    </div>
                                    <div class="btn-wrap multi" id="activityList">

                                        <th:block th:each="eval:${evaluationList}">
                                            <button type="button" class="btn-line" th:id="${'eval'+eval.domainId}"
                                                    th:text="${eval.domainName}"></button>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="title-wrap">
                                        <span class="tit-text">문제 형태</span>
                                        <div class="right-area">
                                        </div>
                                    </div>
                                    <div class="btn-wrap multi">
                                        <button type="button" class="btn-line question_form" id="form_multiple">객관식</button>
                                        <button type="button" class="btn-line question_form" id="form_subjective">주관식</button>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="title-wrap">
                                        <span class="tit-text">난이도 구성</span>
                                    </div>
                                    <div class="step-wrap">
                                        <button type="button" class="btn-line type02 color02" data-step="stap2">하
                                        </button>
                                        <button type="button" class="btn-line type02 color03" data-step="stap3">중
                                        </button>
                                        <button type="button" class="btn-line type02 color04" data-step="stap4">상
                                        </button>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="title-wrap">
											<span class="tit-text">난이도별 문제 수
												<button type="button" class="btn-icon2 pop-btn"
                                                        data-pop="que-range-pop"><i
                                                        class="setting"></i></button>
											</span>
                                    </div>
                                    <div class="range-wrap">
                                        <span class="range color02" data-step="stap2">
                                            하(<span id="range-low-count"></span>)
                                        </span>
                                        <span class="range color03" data-step="stap3">
                                            중(<span id="range-mid-count"></span>)
                                        </span>
                                        <span class="range color04" data-step="stap4">
                                            상(<span id="range-high-count"></span>)
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="bottom-box">
                                <p class="total-num">총 <span class="que-num">30</span>문제</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="step-btn-wrap">
            <button type="button" class="btn-step">출제 방법 선택</button>
            <button type="button" class="btn-step next" data-pop="que-pop" id="go-step2">STEP2 문항 편집</button>
            <!-- 230629 pop-btn 추가-->
        </div>


    </div>
    <div class="dim"></div>

    <!-- 난이도 문제 수 설정 팝업 -->
    <div class="pop-wrap range-type" data-pop="que-range-pop">
        <div class="pop-inner">
            <div class="pop-header">
                <span>난이도별 문제 수 설정</span>
                <button type="button" class="pop-close"></button>
            </div>
            <div class="pop-content">
                <span class="txt">문제 수를 입력하여<br> 난이도별 문제 수를 조정하세요.</span>
                <div class="range-wrap">
                    <div id="level_range_low" class="range color02 change_level_div not_contain_level">
                        <span class="color02">하</span>
                        <input type="number" id="level_low" onchange="change_level()">
                    </div>
                    <div id="level_range_mid" class="range color03 change_level_div not_contain_level">
                        <span class="color03">중</span>
                        <input type="number" id="level_mid" onchange="change_level()">
                    </div>
                    <div id="level_range_high" class="range color04 change_level_div not_contain_level">
                        <span class="color04">상</span>
                        <input type="number" id="level_high" onchange="change_level()">
                    </div>
                    <div class="range total fail">
                        <span>합계</span>
                        <span class="num" id="level_sum"></span>
                    </div>
                    <!-- E: 문제 수 맞지 않을 시 .fail 클래스 추가 -->
                </div>
            </div>
            <div class="pop-footer">
                <button>초기화</button>
                <button class="disabled" id="level_count_save">저장</button>
            </div>
        </div>
    </div>

    <!-- 문항 충족하지 않을 시 노출 팝업 -->
    <div class="pop-wrap range-type02" data-pop="que-pop">
        <div class="pop-inner">
            <div class="pop-header">
                <span>문항 구성 자동 변경</span>
                <button type="button" class="pop-close" onclick="removePrev()"></button>
            </div>
            <div class="pop-content">
                <span class="txt">사용자가 원하는 문항 구성을 할 수 없어<br>문항 구성이 자동으로 변경되었습니다.</span>
                <div class="range-wrap">
                    <div class="range">
                        <span class="color02">하</span>
                        <span class="num" id="type02-low"></span>
                    </div>
                    <div class="range">
                        <span class="color03">중</span>
                        <span class="num" id="type02-mid"></span>
                    </div>
                    <div class="range">
                        <span class="color04">상</span>
                        <span class="num" id="type02-high"></span>
                    </div>
                    <div class="range total">
                        <span>합계</span>
                        <span class="num" id="type02-tot"></span>
                    </div>
                </div>
                <span class="txt">해당 문제 구성으로 출제하시겠습니까?</span>
            </div>
            <div class="pop-footer">
                <button class="pop-close" onclick="removePrev()">취소</button>
                <button class="type-02-accept">확인</button>
            </div>
        </div>
    </div>
    <!-- 문항 충족하지 않을 시 노출 팝업 -->

    <script>
        $(function () {
            // depth
            let depBtn = $('.dep-btn');

            function depFunc() {
                let _this = $(this);

                if (!_this.hasClass('active')) {
                    _this.addClass('active');
                    _this.parents('.check-group').next('div').stop().slideUp('fast');

                } else {
                    _this.removeClass('active');
                    _this.parents('.check-group').next('div').stop().slideDown('fast');
                }

                _this.parents('.check-group').toggleClass('on');
            }

            depBtn.on('click', depFunc);
            // que-checkbox
            let queChkAll = $('.que-allCheck');

            function queCheckFunc() {
                let _this = $(this);

                if (_this.prop('checked')) {
                    _this.parents().next('ul').find('input[type=checkbox]').prop('checked', true);
                } else {
                    _this.parents().next('ul').find('input[type=checkbox]').prop('checked', false);
                }

                if (_this.prop('checked') && _this.hasClass('depth01')) {
                    _this.parents('.check-group').next('div').find('input[type=checkbox]').prop('checked', true);
                } else {
                    _this.parents('.check-group').next('div').find('input[type=checkbox]').prop('checked', false);
                }

                if (_this.prop('checked')) {
                    _this.parents('table').find('input[type=checkbox]').prop('checked', true);
                } else {
                    _this.parents('table').find('input[type=checkbox]').prop('checked', false);
                }

            }
            queChkAll.on('click', queCheckFunc);

            $(".type-box .box .range").hide();
            let stepBtn = $('.step-wrap .btn-line');

            function stepFunc() {
                let _this = $(this);
                let stepData = _this.data('step');

                _this.toggleClass('active');

                if (_this.hasClass('active')) {
                    $(".range[data-step='" + stepData + "']").show();
                } else {
                    $(".range[data-step='" + stepData + "']").hide();
                }

                change_que_count()
            }

            stepBtn.on('click', stepFunc);
        });


    </script>


    <script th:src="@{/js/step1/button_click.js}"></script>
    <script>set_subject('[[${subjectId}]]')</script>

</div>
</body>


</html>