<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T셀파 문제은행</title>
    <link rel="stylesheet" href="../inc/css/font.css">
    <link rel="stylesheet" href="../inc/css/common.css">
    <link rel="stylesheet" href="/css/main/error.css">
</head>

<body>
<div class="full-pop-que-2">
    <div class="full-pop-wrap">
        <div class="pop-content">
            <div class="error-cnt">
                <img src="../images/common/error.png" alt="에러">
                <div class="txt-box">
                    <span class="tit">접근이 거부되었습니다.</span>
                    <span class="txt">웹 페이지를 볼 수 있는 권한이 없습니다.</span>
                    <a href="/index" class="backHome">홈으로 돌아가기</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dim"></div>
</div>
</body>
</html>
