<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T셀파 문제은행</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/inc/css/font.css">

    <link rel="stylesheet" href="/inc/css/reset_step0.css">
    <link rel="stylesheet" href="/inc/css/step0.css">
    <script defer src="/inc/js/step0.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/inc/js/common.js"></script>

</head>

<body>
<div id="wrap" class="full-pop-que">
    <div class="full-pop-wrap">
        <div class="pop-header">
            <ul class="title">
                <li class="active"><img src="/images/common/ico_step_active.png" alt="">출제 방법 선택</li>
            </ul>
            <button type="button" class="del-btn"></button>
        </div>

        <div class="pop-content">
            <div class="view-box">
                <div class="view-top">
                    <div class="paper-info">
                        <span class="subject-name" th:text="${chapterList[0].subjectName}"></span>
                        <span th:text="${chapterList[0].curriculumName}"></span>
                        <span class="select-num">
                            <span class="tooltip-wrap">
                              <button class="tip-btn blue" th:id="chk_item_cnt">0</button>
                                <span class="tooltip type02">
<!--                                    <div class="tool-type01">선택한 문항</div>-->
                                </span>
                                </span>
                        <span>/</span>
                            <span class="tooltip-wrap">
                                <button class="tip-btn">90</button>
                                <span class="tooltip type02">
<!--                                    <div class="tool-type01">최대 문항수</div>-->
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="btn-wrap">
                        <button class="btn-icon" id="edit-selected"><i class="edit"></i>선택한 시험지 편집하기</button>
                        <button class="btn-icon type-white" id="new-paper"><i class="newpaper"></i>신규 시험지 만들기</button>
                    </div>
                </div>
                <div class="view-bottom">
                    <div class="tab-list-type01 unit-acc-wrap">
                        <div class="scroll-inner">
                            <th:block th:each="chapter : ${chapterList}">
                                <input type="hidden" th:name="${chapter.subjectId}" th:id="subjectId" th:value="${chapter.subjectId}">
                                <button type="button" class="acc-btn"><p th:text="${chapter.largeChapterName}"></p>
                                </button>
                                <div class="cnt">
                                    <div class="table">
                                        <div class="fix-head">
                                            <span>선택</span>
                                            <span>시험지명</span>
                                            <span>문항수</span>
                                            <span>미리보기</span>
                                            <span>다운로드</span>
                                        </div>
                                        <div class="tbody">
                                            <div class="col" th:each="exam : ${examList[chapter.largeChapterId]}">
                                                <span class="check-box" style="position: relative">
                                                    <input type="checkbox" class="chk_paperId" th:name="${exam.itemCnt}" th:item-cnt="${exam.itemCnt}" th:exam-id="${exam.examId}"
                                                           th:class="chk_paperId" style="position: absolute"></span>
                                                <span class="tit" th:text="${exam.examName}"></span>
                                                <span class="que-count" th:text="${exam.itemCnt}"></span>
                                                <span>
                                                        <button
                                                                type="button" class="pop-btn btn-icon2"
                                                                data-pop="prev-pop"><i
                                                                class="preview"></i></button>
                                                    </span>
                                                <span>
                                                     <div class="btn-wrap">
                                                        <button type="button" class="btn-default">전체</button>
                                                        <button type="button" class="btn-default">문제</button>
                                                        <button type="button" class="btn-default">정답 + 해설</button>
                                                        <button type="button" class="btn-default">문항정보표</button>
                                                    </div>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="dim"></div>
    <!-- 미리보기 팝업 -->
    <div id="q-preview" class="pop-wrap prev-type " data-pop="prev-pop">
        <div class="pop-inner">
            <div class="pop-header">
                <span>미리보기</span>
                <button type="button" class="pop-close"></button>
            </div>
            <div class="pop-content">
                <div class="btn-wrap">
                    <button type="button" class="btn-icon"><i class="download"></i>다운로드</button>
                </div>
                <div class="view-box">
                    <div class="scroll-inner">
                        <!-- <img src="../images/common/sample_prev.jpg" alt="">
                        <img src="../images/common/sample_prev.jpg" alt=""> -->
                        <!--230824 림 추가-->
                        <div class="view-data">
                            <div class="example-area">
                                <div class="example-box">
                                    <div class="item-question">
                                        <span class="numbering">1.</span>
                                        <img src="/images/common/sampling-question.png" alt="">
                                    </div>

                                    <div class="choice-contanier">
                                        <ul class="answer-input">
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="answer-container">
                                        <span class="answer-tit">(정답)</span>
                                        <div class="answer-img" style="height:25px; background:lightgray"><img
                                                src="/images/common/answer-img.png" alt=""></div>
                                    </div>

                                    <div class="explain-answer">
                                        <span class="explain-tit">(해설)</span>
                                        <div class="explain-img"><img src="/images/common/sampling-question2.png"
                                                                      alt=""></div>
                                    </div>
                                </div>
                            </div>

                            <div class="example-area">
                                <div class="example-box">
                                    <div class="item-question">
                                        <span class="numbering numbering-numbers">10~20. </span>
                                        <img src="/images/common/sampling-question.png" alt="">
                                    </div>

                                    <div class="choice-contanier">
                                        <ul class="answer-input">
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="answer-container">
                                        <span class="answer-tit">(정답)</span>
                                        <div class="answer-img" style="height:25px; background:lightgray"><img
                                                src="/images/common/answer-img.png" alt=""></div>
                                    </div>

                                    <div class="explain-answer">
                                        <span class="explain-tit">(해설)</span>
                                        <div class="explain-img"><img src="/images/common/sampling-question2.png"
                                                                      alt=""></div>
                                    </div>
                                </div>
                            </div>

                            <div class="example-area">
                                <div class="example-box">
                                    <div class="item-question">
                                        <span class="numbering">1.</span>
                                        <img src="/images/common/sampling-question.png" alt="">
                                    </div>

                                    <div class="choice-contanier">
                                        <ul class="answer-input">
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="answer-container">
                                        <span class="answer-tit">(정답)</span>
                                        <div class="answer-img" style="height:25px; background:lightgray"><img
                                                src="/images/common/answer-img.png" alt=""></div>
                                    </div>

                                    <div class="explain-answer">
                                        <span class="explain-tit">(해설)</span>
                                        <div class="explain-img"><img src="/images/common/sampling-question2.png"
                                                                      alt=""></div>
                                    </div>
                                </div>
                            </div>

                            <div class="example-area">
                                <div class="example-box">
                                    <div class="item-question">
                                        <span class="numbering">1.</span>
                                        <img src="/images/common/sampling-question.png" alt="">
                                    </div>

                                    <div class="choice-contanier">
                                        <ul class="answer-input">
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="/images/common/sampling-question-1.png" alt="">
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="answer-container">
                                        <span class="answer-tit">(정답)</span>
                                        <div class="answer-img" style="height:25px; background:lightgray"><img
                                                src="/images/common/answer-img.png" alt=""></div>
                                    </div>

                                    <div class="explain-answer">
                                        <span class="explain-tit">(해설)</span>
                                        <div class="explain-img"><img src="/images/common/sampling-question2.png"
                                                                      alt=""></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="pop-footer">
                <div class="page-num">
                    <span>1 / 2</span>
                </div>
            </div> -->
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>