<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T셀파 문제은행</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/inc/css/font.css">

    <link rel="stylesheet" href="/css/step0/reset_step0.css">
    <!--    <link rel="stylesheet" href="/css/step0/step0_1.css">-->
    <link rel="stylesheet" href="/css/step0/step0.css">
<!--    <script src="/js/step0/step0.js"></script>-->
    <!--    <script src="/js/step0/step0_2.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/inc/js/common.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<style>
    .paper{
        width: 95%;
        margin : auto;
    }
    #header_data{
        width: 93%;
        height: 60px;
        /*        margin-bottom: 10px;*/
        margin: auto;
    }
    .title_header{
        width: 76%;
        font-size: 16px;
        font-weight: bold;
        line-height: 46px;
        text-align: center;
        border-right: 2px solid #ccc;
    }
    .class_header{
        font-size: 13px;
        text-align: right;
        height: 23px;
        line-height: 23px;
    }
    .name_header{
        font-size: 13px;
        height: 23px;
        line-height: 23px;
    }

    .column img {
        width: 100%; /* 이미지가 열의 너비에 맞게 조절되도록 설정 */
        height: auto; /* 이미지의 가로세로 비율을 유지하면서 자동으로 조절 */
    }
    .item_figure {
        margin: 0;
        margin-bottom: 100px;
    }
    .item_figure img {
        display: block;
    }
    .item_no{
        color: #020a26;
        font-weight: bold;
        float: left;
    }
    .item_answer:after{
        float: left;
        height: 20px;
        /* background: #207a1e;*/
        width: 35px;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        color: #207a1e;
        text-align: center;
        content: "정답";
    }
    .item_explain:after {
        float: left;
        height: 20px;
        /* background: rgba(80, 149, 253, 0.68);
        */    width: 35px;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        color: rgba(80, 149, 253, 0.68);
        text-align: center;
        content: "해설";
    }
    #preview-itemInfo-table{
        width: 90%;
        margin: auto;
    }
</style>
<body>
<div id="wrap" class="full-pop-que">
    <div class="full-pop-wrap">
        <div class="pop-header">
            <ul class="title">
                <li class="active"><img src="/images/common/ico_step_active.png" alt="">출제 방법 선택</li>
            </ul>
            <button type="button" class="del-btn"></button>
        </div>

        <div class="pop-content">
            <div class="view-box">
                <div class="view-top">
                    <div class="paper-info">
                        <span class="subject-name" th:text="${chapterList[0].subjectName}"></span>
                        <span th:text="${chapterList[0].curriculumName}"></span>
                        <span class="select-num">
                            <span class="tooltip-wrap">
                              <button class="tip-btn blue" th:id="chk_item_cnt">0</button>
                                <span class="tooltip type02">
<!--                                    <div class="tool-type01">선택한 문항</div>-->
                                </span>
                                </span>
                        <span>/</span>
                            <span class="tooltip-wrap">
                                <button class="tip-btn">90</button>
                                <span class="tooltip type02">
<!--                                    <div class="tool-type01">최대 문항수</div>-->
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="btn-wrap">
                        <button class="btn-icon" id="edit-selected"><i class="edit"></i>선택한 시험지 편집하기</button>
                        <button class="btn-icon type-white" id="new-paper"><i class="newpaper"></i>신규 시험지 만들기</button>
                    </div>
                </div>
                <div class="view-bottom">
                    <div class="tab-list-type01 unit-acc-wrap">
                        <div class="scroll-inner">
                            <th:block th:each="chapter : ${chapterList}">
                                <input type="hidden" th:name="${chapter.subjectId}" th:id="subjectId"
                                       th:value="${chapter.subjectId}">
                                <button type="button" class="acc-btn"><p th:text="${chapter.largeChapterName}"></p>
                                </button>
                                <div class="cnt">
                                    <div class="table">
                                        <div class="fix-head">
                                            <span>선택</span>
                                            <span>시험지명</span>
                                            <span>문항수</span>
                                            <span>미리보기</span>
                                            <span>다운로드</span>
                                        </div>
                                        <div class="tbody">
                                            <div class="col" th:each="exam : ${examList[chapter.largeChapterId]}">
                                                <span class="check-box" style="position: relative">
                                                    <input type="checkbox" class="chk_paperId" th:name="${exam.itemCnt}"
                                                           th:item-cnt="${exam.itemCnt}" th:exam-id="${exam.examId}"
                                                           th:class="chk_paperId" style="position: absolute"></span>
                                                <span class="tit" id="examName" th:text="${exam.examName}" ></span>
                                                <span class="que-count" id="itemCnt" th:text="${exam.itemCnt}" ></span>
                                                <span>
                                                     <input type="hidden" id="examId" th:value="${exam.examId}">
                                                     <input type="hidden" id="paperName" class="choi-paperName" th:value="${exam.examName}">
                                                     <input type="hidden" id="itemCount" th:value="${exam.itemCnt}">
                                                        <button
                                                                type="button" class="pop-btn btn-icon2"
                                                                data-pop="prev-pop">
                                                            <i class="preview"></i></button>
                                                </span>
                                                <span>
                                                     <div class="btn-wrap">
                                                        <button type="button" th:id="'A_'+${exam.examId}" class="btn-default download A" data-type="A">전체</button>
                                                        <button type="button" th:id="'B_'+${exam.examId}" class="btn-default download Q" data-type="Q">문제</button>
                                                        <button type="button" th:id="'C_'+${exam.examId}" class="btn-default download E" data-type="E">정답 + 해설</button>
                                                        <button type="button" th:id="'D_'+${exam.examId}" class="btn-default download C" data-type="C">문항정보표</button>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="dim"></div>
    <!-- 미리보기 팝업 -->
    <div id="q-preview" class="pop-wrap prev-type " data-pop="prev-pop">
        <div class="pop-inner">
            <div class="pop-header">
                <div class="tit-top">
                    <span id="preview-tit"></span>
                    <em id="preview-cnt"></em>
                </div>

                <button type="button" class="pop-close"></button>
            </div>
            <div class="pop-content">
                <div class="tab-wrap">
                    <ul class="tab-menu-type02" id="preview-tab">
                        <li>
                            <a href="javascript:;" data-type="A">문제 + 정답 + 해설</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-type="Q">문제</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-type="E">정답 + 해설</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-type="C">문항 정보표</a>
                        </li>
                    </ul>

                    <div class="preview-data">
                        <div class="btn-wrap" id="preview-btn-div">
                            <button type="button" class="btn-icon preview-download" date-type="">
                                <i class="download"></i>다운로드
                            </button>
                        </div>

                        <div class="view-box">
                            <div id="test_paper">
                                <div class="scroll-inner">
                                    <div class="paper">
                                        <div id="header_data">
                                            <table style="width:100%; border: 5px solid #ccc; border-radius: 15px; margin: 10px 0px">
                                                <tr>
                                                    <td rowspan="2" class="title_header">시험지명</td>
                                                    <td class="class_header">&nbsp;&nbsp;학년&nbsp;&nbsp;반&nbsp;&nbsp;번&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="name_header">&nbsp;이름 : </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="layout-wrap" id="preview-question-data"></div>

                                        <!-- 문항 정보표 테이블 -->
                                        <div class="table-wrap" id="preview-itemInfo-table">
                                            <div class="tbl-view">
                                                <table>
                                                    <colgroup>
                                                        <col width="5%">
                                                        <col width="12%">
                                                        <col width="15%">
                                                        <col width="*">
                                                        <col width="9.5%">
                                                        <col width="9.5%">
                                                        <col width="9.5%">
                                                        <col width="9.5%">
                                                        <col width="5%">
                                                    </colgroup>
                                                    <thead>
                                                    <tr>
                                                        <th rowspan="2">번호</th>
                                                        <th rowspan="2">정답</th>
                                                        <th colspan="2">단원</th>
                                                        <th rowspan="2">성취기준</th>
                                                        <th rowspan="2">내용 영역</th>
                                                        <th rowspan="2">평가 영역</th>
                                                        <th rowspan="2">교과 역량</th>
                                                        <th rowspan="2">난이도</th>
                                                    </tr>
                                                    <tr>
                                                        <th>대단원</th>
                                                        <th>평가내용</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="preview-itemInfo-data"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/step0/step0_choi.js}"></script>
</html>







