header {
    display: flex;
    align-items: center;
}

header ul li {
    display: inline-block;
}

header .header-2 ul li {
    margin-left: 13px;
    font-weight: bold;
    cursor: pointer;
}

header .header-2 ul li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.header-1, .header-2, .header-3 {
    flex: 1
}

.header-1 img {
    width: 60px;
    height: 60px;
}

.header-2 {
    text-align: center;
    font-family: 'SUITE-Regular';
}

.header-3 {
    text-align: right;
}

.login{
    background-color: #5670dc;
    color: white;
    padding: 10px 0;
    border-radius: 12px;
    display: inline-block;
    width: 90px;
    text-align: center;
}

.join {
    border: 1px solid #5670dc;
    color: #5670dc;
    padding: 10px 0;
    margin-right: 10px;
    border-radius: 12px;
    display: inline-block;
    width: 90px;
    text-align: center;
}

.logout {
    background-color: #5670dc;
    color: white;
    padding: 10px 0;
    border-radius: 12px;
    display: inline-block;
    width: 90px;
    text-align: center;
    border: none;
}

.name-logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name-logout span {
    margin-right: 20px;
}