.change_margin {
    margin-top: 20px;
}

/* ======================= 문제지 요약 리스트 스타일 ====================== */
div.table.half-type .depth-01.ui-sortable.single-item{
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

div.table.half-type .depth-01.ui-sortable.single-item .drag-type02{
    background-color: #fff;
}

div.table.half-type .depth-01.ui-sortable.single-item .col{
    background-color: #fff;
    border-bottom: none;
}
/* ======================= ====================== ====================== */

/* ====================== STEP 3 처음으로 모달 =============== */
.step3-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    text-align: center;
}

.step3-modal p{
    margin: 5px 0;
}
/* ====================== ================ =============== */